#todoList label{
    width: 80%;
}
#todoList li{
    list-style-type: none;
}

.uncompleted label{
    color: #afa7a7;
    text-decoration: line-through;
}
#todoList .btn{
    margin-left: 10px;
}

.line{
    text-decoration: line-through;
}

.container{
    position: relative;
}

.modul{
    position: absolute;
    margin-left: 30%;
}


.content{
    width: 40%;
    margin: 0 auto;
}

.main{
    margin-right: 10px;
}


li{
    border-radius: 5px;
    padding: 10px ;
    margin: 10px 0;
    background-color: aqua;
}

span{
    display: inline-block;
    width: 77% !important;
    overflow: hidden;
}